[submodule "api-gateway-service"]
	path = api-gateway-service
	url = git@github.com:maestrom4/api-gateway-service.git
[submodule "db-manager-service"]
	path = db-manager-service
	url = git@github.com:maestrom4/db-manager-service.git
[submodule "employee-service"]
	path = employee-service
	url = git@github.com:maestrom4/employee-service.git
[submodule "payslip-service"]
	path = payslip-service
	url = git@github.com:maestrom4/payslip-service.git
[submodule "time-log-service"]
	path = time-log-service
	url = git@github.com:maestrom4/time-log-service.git
[submodule "client"]
	path = client
	url = git@github.com:maestrom4/client.git
[submodule "file-generator-service"]
    path = file-generator-service
	url = git@github.com:maestrom4/file-generator-service.git
