# Lines starting with # are comments.
# Each line specifies a file pattern followed by one or more owners.

# Assign code owners for specific files
#/docs/*      @docs-team
#/src/*.js    @dev-team-member1 @dev-team-member2

# Assign code owners for all files in a directory
#/tests/      @test-team

# Assign code owners for all files in the repository
*            @maestrom4 @skyNetManager